* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", serif;
  font-style: normal;
}



/* Banner Section styles */

#banner-section {
  background-color: #C6E4D6;
  width: 1280px;
  height: 560px;
  border-radius: 24px;
  margin: auto;
  box-sizing: border-box;
}

.banner-section-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
  gap: 64px;
  margin-top: 80px;
}

.banner-section-Container h2 {
  color: #0E0E0E;
  font-size: 24px;
  font-weight: 500;
  opacity: 50%;
}

.banner-section-Container h1 {
  color: #0E0E0E;
  font-size: 56px;
  font-weight: 700;
  padding: 16px 0px 24px 0px;
}

.banner-btn {
  background-color: #006A50;
  color: #ffffff;
  font-size: 18;
  font-weight: 600;
  border-style: none;
  padding: 17px 34px;
  border-radius: 8px;
  cursor: pointer;
}

.banner-btn:hover {
  background-color: #52ca5c;
  color: white;
}

/* The Vision of Future */
#vision-of-future {
  width: 1280px;
  height: 765px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 80px;
}

.vision-title h2 {
  color: #0E0E0E;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 24px;
}

.vision-title p {
  font-size: 16px;
  opacity: 70%;
}

/* cards */
.vision-cards {
  display: flex;
  gap: 24px;
  height: 325px;
}

.cards {
  border-radius: 16px;
  padding: 32px;
}

.vision-cards h3 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 12px;
}

.vision-cards p {
  font-size: 16px;
  opacity: 70%;
  padding-bottom: 24px;

}

.vision-cards button {
  border-style: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  border-radius: 8px;
}

.vision-cards .card-1 {
  background-color: #548ff520;
}

.vision-cards .card-1 button {
  background-color: #5490F5;
  cursor: pointer;
}

.vision-cards .card-1 button:hover {
  background-color: rgb(0, 25, 247);
}

.vision-cards .card-2 {
  background-color: #C6E4D6;
}

.vision-cards .card-2 button {
  background-color: #09A15C;
  cursor: pointer;
}

.vision-cards .card-2 button:hover {
  background-color: #00ff8c;
}

.vision-cards .card-3 {
  background-color: #F7EBCF;
}

.vision-cards .card-3 button {
  background-color: #FFC239;
  cursor: pointer;
}

.vision-cards .card-3 button:hover {
  background-color: #ff9900;
}


/* Quote Section */
.quote-section {
  background-color: #ffffff;
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 24px 18px;
  padding: 48px 24px;
  border: 1px solid rgba(0, 0, 0, 0.150);
  border-radius: 16px;

}

.quote-section p {
  font-size: 16px;
  opacity: 80%;
}

.quote-section h4 {
  font-size: 20px;
  font-weight: 600px;
  opacity: 80%;
  padding-top: 12px;
}


/* Recent News */

#recent-news {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 80px;
}

.recent-news-title h2 {
  color: #0E0E0E;
  font-size: 40px;
  font-weight: 700;
}

.recent-news-title p {
  color: #0E0E0E;
  font-size: 16px;
  font-weight: 400;
  opacity: 70%;
  padding-top: 24px;
}


.news-cards {
  background: rgb(255, 255, 255);
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 48px;
  gap: 32px;
}

.news-cards img {
  border-radius: 24px;
}

.news-cards-title h3 {
  color: #0E0E0E;
  font-size: 32px;
  font-weight: 700;
  opacity: 80%;
  padding-bottom: 12px;
}

.news-cards-title p {
  color: #0E0E0E;

  opacity: 70%;
}

.news-cards-title .date {
  padding-top: 12px;
}

.news-cards-title .time {
  padding-left: 5px;
}

.news-cards-title .dis {
  padding-top: 12px;
  padding-bottom: 32px;
}

.news-cards button {
  font-size: 18px;
  font-weight: 600;
  border-style: none;
  border-radius: 8px;
  background-color: #006A50;
  color: white;
  padding: 13px 26px;
  cursor: pointer;
}

.news-cards button:hover {
  background-color: #52ca5c;
}


/* Donate Today */
#donate {
  background-color: #f3f3f3;
  border-radius: 24px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  padding: 50px 0px;
  margin: auto;
}

.donate-title h2 {
  color: #0E0E0E;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;
}

.donate-title p {
  color: #0E0E0E;
  font-size: 16px;
  opacity: 70%;
}

.taka-cards {
  display: flex;
  gap: 23px;
}

.taka-cards .card {
  background-color: white;
  color: #0E0E0E;
  font-size: 40px;
  font-weight: 700;
  opacity: 80%;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.150);
  border-radius: 16px;
  cursor: pointer;
}

.taka-cards .card:hover {
  background-color: #C6E4D6;
}

.taka-amount {
  width: 1032px;
  background-color: #ffffff;
  padding: 17px 34px;
  text-align: center;
  border-style: none;
}

.taka-amount [placeholder] {
  color: #0e0e0e30;
  font-size: 18px;
  font-weight: 600;
}

.donate-btn {
  background-color: #006A50;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  border-style: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.donate-btn:hover {
  background-color: #52ca5c;
}


/* Newsletter Section */
#newsletter {
  background-color: #C6E4D6;
  border-radius: 24px;
  width: 1280px;
  margin: auto;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin: 80px 0px 80px 0px;
  padding: 80px 100px;
}

#newsletter h2 {
  color: #0E0E0E;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 16px;
}

#newsletter p {
  color: #0E0E0E;
  opacity: 70%;
  padding-bottom: 24px;
}

.newsletter-form {
  display: flex;
}

.from-email {
  width: 560px;
  height: 55px;
  border-style: none;
  border-radius: 8px 0px 0px 8px;
  padding-left: 40px;
}

.from-submit {
  width: 150px;
  height: 56px;
  border-style: none;
  background-color: #006A50;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.from-submit:hover {
  background-color: #52ca5c;
}

.newsletter-container-p2 {
  padding-top: 24px;
}